.App{
    background-image: conic-gradient(from 260deg, #335544 180deg , #ffff 90deg);
}

.logoHead{
    margin-top: 12px !important;
    /* background: -webkit-linear-gradient(rgb(236, 49, 7),rgb(98, 5, 247),purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(249, 248, 248);
}
#items-totallist{
    border: 10px solid rgb(216, 205, 205);
    padding: 1rem;   
    border-radius: 2%;
    
}
.imageitem{
    width: 3.5rem;
}
.imageitems{
    width: 6rem;
}
#item-seperator{
    margin-bottom: 0px;
    margin-top: 0px;
}
/* #navButton{
    background-color: aqua;
} */